.gameTable {
    background-color: #1e1e1e;
    width: 100%;
    border-radius: 0.5rem;
    border-collapse: collapse; 
    overflow: hidden;
    text-align: center;
}
  
.tableTitles th {
    background-color: #1e1e1e;
    padding: 0.5rem;
}
  
.oddGame {
    background-color: #1e1e1e;
    padding: 0.5rem;
}
  
.evenGame {
    background-color: #191919;
    padding: 0.5rem;
}

.gameRow {
    cursor: pointer;
    transition: background-color 0.2s;
}

.gameRow:hover {
    background-color: #151515;
}